@model OA.Models.LoginDto
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!--http-equiv 把content内容带到http头部，定义浏览器的渲染方式-->
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link href="~/Content/Login/css/login.css" rel="stylesheet"/>
<link href="~/Content/FrameTheme/css/bootstrap.min.css" rel="stylesheet"/>
<script src="~/Content/FrameTheme/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/FrameTheme/js/bootstrap.min.js"></script>

<body>
    <div class="login">
        <div class="login_box">
            <div class="login_title">管理系统</div>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", id = "loginFrm" }))
            {
                @Html.HiddenFor(m=>m.ReturnUrl)
            <div class="login_input">
                @Html.TextBoxFor(m => m.LoginName, new { @class = "name", placeholder = "请输入用户名", autofocus = "" })
                @Html.PasswordFor(m => m.Password, new { @class = "pwd", placeholder = "请输入密码" })
                @Html.ValidationMessageFor(m => m.LoginName)
                @Html.ValidationMessageFor(m => m.Password)
                <input id="btnLogin" class="login_btn" type="submit" value="登录"/>
                @*<input id="username" type="text" class="name" placeholder="请输入用户名" />
        <input id="pwd" type="password" class="pwd" placeholder="请输入密码" />
        <a id="btnLogin" class="login_btn " onclick="return Login();">登录</a>*@
            </div>
            }


        </div>
        @*<img src="~/Content/Login/images/green_sky1.jpg" />*@
    </div>

    <script>
        function keyLogin() {
            if (event.keyCode == 13) { 
                $("#btnLogin").click();
            }
        }
        $("#btnLogin").click(function () {
            if ($("#loginFrm").validate().form()) {
                $(this).button("loading");
                return true;
            }
            return false;
        });

        //function Login() {
        //    var username = $("#username").val().trim();
        //    var pwd = $("#pwd").val().trim();

        //    if (username == null || username == "" || pwd == nul || pwd == "") {
        //        $("#error").html("请输入用户名和密码");
        //    } else {
        //        $.post("/Login", { "username": username, "pwd": pwd }, function (result) {
        //            if (result) {
        //                if (result > 0) {
        //                    window.location.href = "/Home/Index";
        //                } else if (result == -1) {
        //                    //账户被冻结
        //                    $("#error").html("账户被冻结!");
        //                    $("#pwd").val("");
        //                } else if (result == -2) {
        //                    //账户不存在
        //                    $("#error").html("用户名或密码错误!");
        //                    $("#pwd").val("");
        //                }
        //            }
        //        })
        //    }
        //}

    </script>
</body>

