@model OA.Models.PlanDto
@{
    if (Model.PlanID == null || Model.PlanID == "") { ViewBag.Title = "编辑计划"; }
    else { ViewBag.Title = "添加计划"; }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerJS{
    <link href="~/Content/Plugin/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="~/Content/Plugin/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/Plugin/layui/css/layui.css" rel="stylesheet" media="all">
    <link href="~/Content/Plugin/markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
    @*<script type="text/javascript" src="~/Content/Plugin/markdown/js/jquery-1.11.0.min.js"></script>*@
    <script type="text/javascript" src="~/Content/Plugin/markdown/js/bootstrap-markdown.js"></script>
    <style>
        .graph-2.general {
            width: 80%;
        }

        .form-group {
            margin-bottom: 2px;
        }
        /*.cf-checkbox{
            width:16px;
            height:16px;
            line-height:16px;
        }*/
        .priority_0 {
            color: green;
        }
        .priority_1 {
            color: forestgreen;
        }
        .priority_2 {
            color: darkseagreen;
        }
        .priority_3 {
            color: cornflowerblue;
        }
        .priority_4 {
            color: dodgerblue;
        }
        .priority_5 {
            color: darkblue;
        }
        .priority_6 {
            color: darkslateblue;
        }
        .priority_7 {
            color: mediumpurple;
        }
        .priority_8 {
            color: rebeccapurple;
        }
        .priority_9 {
            color: darkred;
        }
        .priority_10 {
            color: red;
        }
    </style>
}
<div class="wrapper wrapper-content">
    <div class="set-3">
        <div class="graph-2 general" style="width:80%;">
            @if (Model.PlanID == null || Model.PlanID == "")
            {/**/
                <h3 class="inner-tittle two">编辑计划单</h3> }
            else
            { /**/
                <h3 class="inner-tittle two">添加计划单</h3>}
            <div class="grid-1" id="AddControl">
                <div class="form-body">
                    <form class="form-horizontal" v-on:submit.prevent="onSubmit">

                        <div class="form-group">
                            <label class="col-md-2 control-label">日期</label>
                            <div class="col-md-3">
                                <div class="input-group input-icon right date datepicker">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i>
                                    </span>
                                    <input id="laydate" type="text"  class="form-control1 icon" />
                                </div>
                            </div>
                            <label class="col-md-1 control-label">起止时间</label>
                            <div class="col-md-2">
                                <div class="input-group input-icon right date datepicker">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i>
                                    </span>
                                    <input id="layStartTime" type="text"  class="form-control1 icon" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-icon right date datepicker">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i>
                                    </span>
                                    <input id="layEndTime" type="text" class="form-control1 icon" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">类型</label>
                            <div class="col-md-3">
                                <select class="form-control1" v-model="planType">
                                    <option v-for="option in planTypeOptions" :value="option.value">{{option.text}}</option>
                                </select>
                            </div>
                            <label class="col-md-1 control-label">状态</label>
                            <div class="col-md-2">
                                <select class="form-control1" v-model="procStatus">
                                    <option v-for="option in planStatusOptions" :value="option.value">{{option.text}}</option>
                                </select>
                            </div>
                            <label class="col-md-1 control-label">私密计划</label>
                            <div class="col-md-1">
                                <div class="checkbox-inline"><label><input type="checkbox" v-model="isPrivate" />{{isPrivate}}</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">优先级</label>
                            <div class="col-md-10 priority">
                                <div v-for="(option,index) in planPriorityOptions" class="checkbox-inline"><label :class=" option.class"><input type="checkbox"  v-on:click="CheckPlanPriority($event,option.value)" :value="option.value">{{option.text}}({{option.title}})</label></div>

                                @*<select class="form-control1" v-model="planPriority">
                    <option v-for="option in planPriorityOptions" :value="option.value">{{option.text}}</option>
                </select>*@
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">名称</label>
                            <div class="col-md-10">
                                <div class="input-group input-icon right">
                                    <span class="input-group-addon">
                                        <i></i>
                                    </span>
                                    <input type="text" v-model="planTitle" class="form-control1 icon" />
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-2 control-label">内容</label>
                            <div class="col-md-10">
                                <textarea id="add-editor" name="content" rows="20" v-model="planBody"></textarea>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">内容</label>
                            <div class="col-md-10" id="add-editor">
                            </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <button type="button" class="btn btn-default" v-on:click="Save()">保存</button>
                            <button type="button" class="btn btn-warning " v-on:click="Clear()">清空</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/Plugin/other/datetimehelper.js"></script>
    <script src="~/Content/Plugin/wangEditor/wangEditor.js"></script>
    <script src="~/Content/Plugin/vue.js"></script>
    @*<script src="~/Content/Plugin/main.js"></script>*@
    @*<script type="text/javascript" src="~/Content/Plugin/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/datepicker/js/locale/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>*@
    <script type="text/javascript" src="~/Content/Plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/markdown/js/bootstrap-markdown.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/markdown/js/locale/bootstrap-markdown.zh.js"></script>


    <script>
        $(function () {
            var vControl = new Vue({
                el: "#AddControl",
                data: {
                   // planDate: '@Model.PlanDate',
                    planType: '@Model.PlanType',
                    planPriority:'@Model.PlanPriority',
                    planTitle: '@Model.PlanTitle',
                    //planBody: "",
                    procStatus:'@Model.ProcStatus',
                    isPrivate: '@Model.IsPrivate',
                   // planStartTime:  '@Model.PlanStartTime',
                   // planEndTime:  '@Model.PlanEndTime',
                    planTypeOptions: [],
                    planPriorityOptions: [{ "text": "0", "value": 0, "title": "最低", "class": "priority_0" }
                        , { "text": "1", "value": 1, "title": "非常低", "class": "priority_1" }
                        , { "text": "2", "value": 2, "title": "低", "class": "priority_2" }
                        , { "text": "3", "value": 3, "title": "中低", "class": "priority_3" }
                        , { "text": "4", "value": 4, "title": "中", "class": "priority_4" }
                        , { "text": "5", "value": 5, "title": "中", "class": "priority_5" }
                        , { "text": "6", "value": 6, "title": "中", "class": "priority_6" }
                        , { "text": "7", "value": 7, "title": "中高", "class": "priority_7" }
                        , { "text": "8", "value": 8, "title": "高", "class": "priority_8" }
                        , { "text": "9", "value": 9, "title": "非常高", "class": "priority_9" }
                        , { "text": "10", "value": 10, "title": "最高", "class": "priority_10" }
                    ],
                    planStatusOptions: []
                },
                methods: {
                    Save: function () {
                        GetSave();
                    },
                    Clear: function () {
                        GetClear();
                    },
                    CheckPlanPriority: function (event, Val) {
                        GetPlanPriority(event, Val);
                    }
                }
            });

            //日期时间选择
            //$('.datepicker').datepicker({
            //    format: 'yyyy-mm-dd',
            //    language: 'zh-CN'
            //});
            //$('.datepicker').datetimepicker({
            //    format: 'yyyy-MM-dd',
            //    language: 'zh-CN',
            //    pickDate: true,
            //    pickTime: false,
            //    autoclose: true
            //});
            layui.use('laydate', function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#laydate'
                });
                laydate.render({
                    elem: '#layStartTime',
                    type: 'time'
                });
                laydate.render({
                    elem: '#layEndTime',
                    type: 'time'
                });
            });

            //富文本编辑器
            var E = window.wangEditor;
            var editor = new E('#add-editor');
           //editor.customConfig.uploadImgShowBase64 = true;
           // editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0;
            editor.customConfig = {
                uploadImgServer: '/UploadOpt/upload.ashx',
                uploadHeaders: { 'Accept': 'text/x-json' },

            }
            editor.customConfig.debug = true;
            editor.customConfig.hideLinkImg = true;
            editor.customConfig.uploadImgHooks = {
                before: function (xhr, editor, files) {
                // 图片上传之前触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件
                    console.log(xhr);
                    console.log(editor);
                    console.log(files);

                // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
                 //return {
                 //    prevent: true,
                 //    msg: '放弃上传'
                 //}
                },
                success: function (xhr, editor, result) {
                    console.log(result);
                },
                fail: function (xhr, editor, result) {
                    console.log(xhr);
                    console.log(editor);
                    console.log(result);
                }
            }
            editor.create();

            //编辑赋值
            SetVal();

            //$("#add-editor").markdown({ language: 'zh' });
            $("#laydate").val(CurentDate());
           // vControl.planDate = CurentDate();
            var planTypeInfo = [], planStatusInfo = [];
            GetClassInfo(2, function () {
                var options= [];
                for (var j = 0; j < planTypeInfo.length; j++) {
                    options.push({ text: planTypeInfo[j].BaseName, value: planTypeInfo[j].BaseValue });
                }
                vControl.planTypeOptions = options;
                console.log(vControl.planDate);
            });
            GetClassInfo(3, function () {
                var options = [];
                for (var j = 0; j < planStatusInfo.length; j++) {
                    options.push({ text: planStatusInfo[j].BaseName, value: planStatusInfo[j].BaseValue });
                }
                vControl.planStatusOptions = options;
                console.log(vControl.planStatus);
            });
           
            
            //$("#laydate").val(CurentDate());

            function GetClassInfo(classID,func) {
                //var info;
                var info=$.post("/BaseInfo/GetClassInfo", { "baseClassID": classID }, function (result) {
                    if (classID ==2) {
                        planTypeInfo = result;
                    } else if (classID ==3) {
                        planStatusInfo = result;
                    }
                    func();
                }, 'json')
            }
            function GetVal() {
                var requestDate = {
                    //PlanDate: vControl.planDate,
                    PlanType: vControl.planType,
                    PlanPriority: vControl.planPriority,
                    PlanTitle: vControl.planTitle,
                    //PlanBody: vControl.planBody,
                    PlanBody:editor.txt.html(),
                    ProcStatus: vControl.procStatus,
                    IsPrivate: vControl.isPrivate,
                   // PlanStartTime: vControl.planStartTime,
                    //PlanEndTime: vControl.planEndTime

                    PlanDate: $("#laydate").val(),
                    PlanStartTime: $("#layStartTime").val(),
                    PlanEndTime: $("#layEndTime").val()

                };
                console.log(requestDate);
                return requestDate;
            }
            function SetVal() {

                @*vControl.planDate = '@Model.PlanDate';
                vControl.planType = '@Model.PlanType';
                vControl.planPriority = '@Model.PlanPriority';
                vControl.planTitle = '@Model.PlanTitle';*@
                    //PlanBody: vControl.planBody,
                var planBody = '@Model.PlanBody';
                //console.log(planBody);
                planBody = planBody.toString().replace(new RegExp("&lt;", 'g'), "<").replace(new RegExp("&gt;", 'g'), ">").replace(new RegExp("&quot;", 'g'), "");
                //console.log(planBody);
                editor.txt.html(planBody);
                //console.log('@Model.PlanBody');
                console.log(editor.txt.html());
                @*vControl.procStatus = '@Model.ProcStatus';
                vControl.isPrivate = '@Model.IsPrivate';
                vControl.planStartTime = '@Model.PlanStartTime';
                vControl.planEndTime = '@Model.PlanEndTime';*@
            }
            function GetSave() {
                //console.log(editor.txt.text());
                //console.log(editor.txt.formatText());
                console.log(GetVal());
                //保存为文章

                //保存到数据库
                $.post("/PlanList/Save", GetVal(), function (result) {
                    layer.msg(result.msg);
                    window.location.href = "/PlanList/Index";
                });
            }
            function GetClear() {
                    vControl.planType=0,
                    vControl.planPriority=0,
                    vControl.planTitle= "",
                    vControl.procStatus=0,
                    vControl.isPrivate=false
            }

            function GetPlanPriority(event, Val) {
                if ($(event.target).prop('checked')) {
                    $('.priority :input[type="checkbox"]').each(function (i, item) {
                        $(item).prop('checked', false);
                    })
                    $(event.target).prop('checked', true);
                    vControl.planPriority = Val;
                }
            }
            //计算当前日期
            function CurentDate() {
                var now = new Date();
                var year = now.getFullYear();       //年
                var month = now.getMonth() + 1;     //月
                var day = now.getDate();            //日

                var clock = year + "-";

                if (month < 10)
                    clock += "0";
                clock += month + "-";

                if (day < 10)
                    clock += "0";
                clock += day + " ";

                return (clock);
            }
        })

    </script>

}

