<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/FrameTheme/css/Layout.css")*@
    <link href="~/Content/FrameTheme/css/Layout.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/style.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/icon-font.min.css" rel="stylesheet" />
    <script src="~/Content/FrameTheme/js/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @this.RenderSection("headerJs", false)
</head>
<body>

    <div id="page-container">
        <div class="left-content">
            <div class="inner-content">
                <div class="header-section">
                    <div class="top-menu">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav pull-left">
                                <li>@Html.ActionLink("工作中心", "Index", "Home")</li>
                                <li>@Html.ActionLink("客户管理", "About", "Home")</li>
                                <li>@Html.ActionLink("综合管理", "Index", "EntInfo")</li>
                                <li>@Html.ActionLink("个人中心", "Contact", "Home")</li>
                            </ul>
                            <form class="searchform">
                                <input type="text" class="searchbox" id="searchbox" placehoder="Search" />
                                <span class="searchbutton">
                                    <i class="fa fa-search"></i>
                                </span>
                            </form>
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown note dra-down">
                                    <div class="wrapper-dropdown-3" tabindex="1"><span>企业名称</span></div>
                                    @*<ul class="dropdown">
                                            <li><a class="deutsch">企业1</a></li>
                                            <li><a class="deutsch">企业2</a></li>
                                            <li><a class="deutsch">企业3</a></li>
                                        </ul>*@
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-tasks"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="outter-wp">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
                    </footer>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon">
                    <span class="fa fa-bars"></span>
                </a>
                <a href="../Home/index.html">
                    <span id="logo"> <h1>CFTESTOA</h1></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
                @*<a href="#" class="sider-icon-mobile">
                        <i class="fade fa-bars"></i>
                    </a>*@
            </header>
            <div style="border-top:1px solid rgba(69,74,84,0.7)"></div>
            <div class="menu">
                <ul id="menu">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-tachometer" style="color:#0FBA5A;"></i>
                            <span>计划单</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-table" style="color:#0FBA5A;"></i>
                            <span>任务单</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-tasks" style="color:#0FBA5A;"></i>
                            <span>工作记录</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-download" style="color:#0FBA5A;"></i>
                            <span>文档中心</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="lnr lnr-chart-bars" style="color:#0FBA5A;"></i>
                            <span>报表统计</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@this.RenderSection("pageJs", false)