<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/FrameTheme/css/Layout.css")*@
    <link href="~/Content/FrameTheme/css/Layout.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/style.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/icon-font.min.css" rel="stylesheet" />
    <script src="~/Content/FrameTheme/js/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Plugin/layer/theme/default/layer.css" rel="stylesheet" />
    <script src="~/Content/Plugin/layer/layer.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @this.RenderSection("headerJs", false)
    <style>
        .graph-2.general {
            width: 50%;
        }

        .col-md-8 {
            width: 48%;
        }

        .col-sm-offset-2 {
            margin-left: 36%
        }

        .IsHide {
            display: none;
        }
    </style>
</head>
<body>

    <div id="page-container">
        <div class="left-content">
            <div class="inner-content">
                <div class="header-section" id="head-menu">
                    <div class="top-menu">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav pull-left" >
                                <li v-for="(item,index)  in menuList" ><a :href="item.Url" :data-id="item.MenuID" v-on:click="GetSubMenu($event)">{{item.MenuName}}</a></li>
                                @*<li>@Html.ActionLink("工作中心", "Index", "Home")</li>
                                <li>@Html.ActionLink("客户管理", "About", "Home")</li>
                                <li>@Html.ActionLink("综合管理", "Index", "BaseStruct/EntInfo")</li>
                                <li>@Html.ActionLink("个人中心", "Contact", "Home")</li>*@
                            </ul>
                            <form class="searchform">
                                <input type="text" class="searchbox" id="searchbox" placehoder="Search" />
                                <span class="searchbutton">
                                    <i class="fa fa-search"></i>
                                </span>
                            </form>
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown note dra-down" id="LockEnt">
                                    <div class="wrapper-dropdown-3" tabindex="1"><span>企业名称</span></div>
                                    @*<ul class="dropdown">
                                             <li><a class="deutsch">企业1</a></li>
                                             <li><a class="deutsch">企业2</a></li>
                                             <li><a class="deutsch">企业3</a></li>
                                        </ul>*@
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-tasks"></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-user"><span id="username"></span></i>
                                    </a>
                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have9 pending task</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <span class="task-desc">task 1</span>
                                                    <span class="percentage">40%</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="progress progress-striped active">
                                                    <div class="fa-bars yellow" style="width:40%"></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">See all pengding tasks</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="outter-wp">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
                    </footer>
                </div>
            </div>
        </div>
        <div class="sidebar-menu" id="sub-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon">
                    <span class="fa fa-bars"></span>
                </a>
                <a href="../Home/index.html">
                    <span id="logo"> <h1>CFTESTOA</h1></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
                @*<a href="#" class="sider-icon-mobile">
                        <i class="fade fa-bars"></i>
                    </a>*@
            </header>
            <div style="border-top:1px solid rgba(69,74,84,0.7)"></div>
            <div class="menu">
                <ul id="menu">
                    <li  v-for="(item,index) in subMenuList">
                        <a v-bind:href="item.Url">
                            <i v-bind:class="item.Icon" style="color:#0FBA5A;"></i>
                            <span>{{item.MenuName}}</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="index.html">
                            <i class="fa fa-tachometer" style="color:#0FBA5A;"></i>
                            <span>计划单</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-table" style="color:#0FBA5A;"></i>
                            <span>任务单</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-tasks" style="color:#0FBA5A;"></i>
                            <span>工作记录</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-download" style="color:#0FBA5A;"></i>
                            <span>文档中心</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="lnr lnr-chart-bars" style="color:#0FBA5A;"></i>
                            <span>报表统计</span>
                        </a>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/Content/Plugin/vue.js"></script>
<script>
    //获取当前登录用户信息
    var UserInfo = {}, SpecialMark = "", circ = 0;
    //function GetUserInfo(func) {
    //    $.post("/Base/GetUserInfo", {}, function (result) {
    //        UserInfo = eval('(' + result + ')');

    //    })
    //}
    var pageGlobalParam = { currPage: 1, pageSize: 10 };
    var RadioNum = [{ text: "是", value: 0 }, { text: "否", value: 1}];
    var RadioBool = [{ text: "是", value: true }, { text: "否", value: false }];
    var RadioIsDel = [{ text: "启用", value: 0 }, { text: "禁用", value: 2 }];
    $(function () {
        var LockMenuID = 0;
        var vMenu = new Vue({
            el: "#head-menu",
            data: {
                menuList:[]
            },
            methods: {
                GetSubMenu: function (event) {
                    //console.log(event.target);
                    //console.log(event.target.getAttribute("data-id"));
                    GetSubMenuList(event.target.getAttribute("data-id"));
                }
            }
        });
        var vSubMenu = new Vue({
            el: "#sub-menu",
            data: {
                subMenuList:[]
            }
        });
        GetMenuList();
        function GetMenuList() {
            $.post("/Base/GetMenuInfo", {}, function (result) {
                if (result) {
                    vMenu.menuList = result;
                }
            },'Json');
        }
        function GetSubMenuList(MenuID) {
            LockMenuID = MenuID;
            $.post("/Base/GetSubMenuInfo", {"MenuID":MenuID}, function (result) {
                if (result) {
                    vSubMenu.subMenuList = result;
                }
            }, 'Json');
        }
        //function GetMenu() {
        //    console.log("111");
        //    var menuID = $(this).attr("data-id");
        //    console.log(menuID);
        //    GetSubMenuList(menuID);
        //}
        //$(".menuLink").on("click", function () {
        //    console.log("111");
        //    var menuID = $(this).attr("data-id");
        //    console.log(menuID);
        //    GetSubMenuList(menuID);
        //});

    })

   
</script>
@this.RenderSection("pageJs", false)