@using StackExchange.Profiling
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/FrameTheme/css/Layout.css")*@
    <link href="~/Content/FrameTheme/css/Layout.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/style.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/FrameTheme/css/icon-font.min.css" rel="stylesheet" />
    <script src="~/Content/FrameTheme/js/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Plugin/layer/theme/default/layer.css" />
    <script src="~/Content/Plugin/layer/layer.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @this.RenderSection("headerJs", false)
    <style>
        .graph-2.general {
            width: 90%;
        }

        .col-md-8 {
            width: 60%;
        }

        .col-sm-offset-2 {
            margin-left: 36%
        }

        .IsHide {
            display: none;
        }
        .grid-1 {
            margin: 2em 0 0 2em;
        }

        h3.inner-tittle.two {
            margin-left: 20px;
        }
    </style>
</head>

<body class="gray-bg">
    @RenderBody()
    @MiniProfiler.RenderIncludes()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
<script src="~/Content/Plugin/vue.js"></script>
<script>
    var pageGlobalParam = { currPage: 1, pageSize: 10 };
    var RadioNum = [{ text: "是", value: 0 }, { text: "否", value: 1 }];
    var RadioBool = [{ text: "是", value: true }, { text: "否", value: false }];
    var RadioIsDel = [{ text: "启用", value: 0 }, { text: "禁用", value: 2 }];
    GetUserInfo();
    function GetUserInfo() {
        $.post("/UserInfo/GetDetailInfo", { "id": 0 }, function (result) {
            UserInfo = result;
            console.log(UserInfo);
        }, 'Json')
    }
</script>